In [194]:
# my notes https://docs.google.com/document/d/1YwC5URk4_qqMq1PMHV12hBXpbnKMR5h48wzmpHIZgss/edit
# https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists

In [208]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
import category_encoders as ce

%matplotlib inline

In [209]:
dataset_v1 = pd.read_csv('./aug_train.csv', encoding='utf-8')

In [210]:
dataset_v1.shape

(19158, 14)

In [211]:
dataset_v1.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0

In [212]:
dataset_v1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevent_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  target                  19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

# Functions

In [213]:
def get_numeric_columns(d):
        current_filter = (d.dtypes == float) | (d.dtypes == int)
        columns = [c for c in current_filter.index if current_filter[c]]

        return columns
    
def get_text_columns(d):
    current_filter = d.dtypes == object
    columns = [c for c in current_filter.index if current_filter[c]]

# Extract columns of numbers

In [217]:
numeric_columns = get_numeric_columns(dataset_v1)
numeric_dataset = dataset_v1[numeric_columns]
numeric_dataset.to_csv('./mydataset_num_train.csv', index=False)
numeric_dataset.head(2)

   enrollee_id  city_development_index  training_hours  target
0         8949                   0.920              36     1.0
1        29725                   0.776              47     0.0

# Model

In [202]:
from sklearn.linear_model import LogisticRegression

numeric_columns = pd.read_csv('./mydataset_num_train.csv', encoding='utf-8')
y_train = dataset['target']
X_train = dataset.drop('target', axis=1)

dataset_test = pd.read_csv('./aug_test.csv', encoding='utf-8')
X_test = dataset_test[get_numeric_columns(dataset_test)]

model = LogisticRegression()
model.fit(X_train, y_train)

y_predic =

      enrollee_id  city_development_index  training_hours
0           32403                   0.827              21
1            9858                   0.920              98
2           31806                   0.624              15
3           27385                   0.827              39
4           27724                   0.920              72
...           ...                     ...             ...
2124         1289                   0.920              15
2125          195                   0.897              30
2126        31762                   0.887              18
2127         7873                   0.804              84
2128        12215                   0.804              11

[2129 rows x 3 columns]



# model -> LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

feature_cols = ['city_development_index', 'training_hours']
X = dataset_num[feature_cols]
y = dataset_num['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# matrix confusion

In [ ]:
confusion_matrix = metrics.confusion_matrix(y_test, y_pred)
class_name = [0, 1]
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_name))
plt.xticks(tick_marks, class_name)
plt.yticks(tick_marks, class_name)

sb.heatmap(pd.DataFrame(confusion_matrix), annot=True, cmap='Blues_r', fmt='g')
ax.xaxis.set_label_position('top')
plt.tight_layout()
plt.title('Matrix confusion', y=1.1)
plt.ylabel('Etiqueta actual')
plt.xlabel('Etiqueta de prediccion')

# Score

In [ ]:
print("exactitud", metrics.accuracy_score(y_test, y_pred))
print("exactitud", model.score(X_test, y_test))

# residuals

In [ ]:
predicted = model.predict(X_test)
plt.hist([predicted, y_test])

In [ ]:
residuals = y_test-predicted

In [ ]:
plt.scatter(y_test, residuals)

In [ ]:
ap_residuals = np.abs(residuals)/y_test
plt.scatter(y_test, ap_residuals)

In [ ]:
lab_residuals = np.log(ap_residuals)
plt.scatter(y_test, lab_residuals)

# scaled

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [ ]:
model_scaled = make_pipeline(StandardScaler(), LogisticRegression())
model_scaled.fit(X_train, y_train)
model_scaled.score(X_train, y_train)

In [ ]:
#  one-hot o Encoding
categorical = dataset_tex.drop(['city', 'company_type', 'company_size', 'gender', 'enrolled_university', 'major_discipline'], axis=1)

In [ ]:
categorical.apply(pd.Series.nunique).sort_values()

In [ ]:
categorical = categorical.reset_index(drop=True).fillna(0)
X = X.drop('city_development_index', axis=1)
x_categorical = pd.concat([X, categorical], axis=1)
x_categorical

In [ ]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=['relevent_experience', 'experience', 'last_new_job', 'education_level'])
encoder.fit_transform(x_categorical).shape

In [ ]:
x_binenc = encoder.fit_transform(x_categorical)

In [ ]:
Xb_train, Xb_test, yb_train, yb_test = train_test_split(x_binenc, y, test_size=0.25, random_state=0)
model = LogisticRegression()
model.fit(Xb_train, yb_train)
model.score(Xb_test, yb_test)

In [ ]:
# plt.hist(lab_residuals, bins=100, cumulative=1, histtype='step');

In [ ]:
# plt.hist(lab_residuals, bins=100, cumulative=1, histtype='step');
# plt.axis([-4, 0, 0, 0])
# np.power(np.exp(1)*np.ones(5), np.linspace(-2,0,5))

In [ ]:
sns.heatmap(X.corr())

In [ ]:
var = np.floor(np.log10(np.abs(model.coef_)))
plt.rcParams['figure.figsize'] = [12, 8]
plt.plot(var)
plt.xticks(np.arange(3), list(X.columns));

In [ ]:
z = pd.concat([X,y], axis=1)
sns.pairplot(z)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Version 2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
import category_encoders as ce

%matplotlib inline

In [ ]:
dataset = pd.read_csv('./aug_train.csv', encoding='utf-8')

# Dataset info

In [ ]:
dataset.shape

In [ ]:
dataset.head(2)

In [ ]:
dataset.info()

# Split dataset (number, text)

In [ ]:
# split dataset

filter_text = dataset.dtypes == object # text column
filter_num = (dataset.dtypes == float) | (dataset.dtypes == int) # number column

col_text = [c for c in filter_text.index if filter_text[c]]
col_num = [c for c in filter_num.index if filter_num[c]]

dataset_num = dataset[col_num]
dataset_text = dataset[col_text]

In [ ]:
dataset_num.head(2)

In [ ]:
dataset_text.head(2)

# Feature Engineering

In [ ]:
text_columns = ['last_new_job', 'relevent_experience', 'experience']
dataset_text = dataset_text[text_columns]
encoder = ce.BinaryEncoder(cols=text_columns)

dataset_text = encoder.fit_transform(dataset_text)
dataset_num = dataset_num[['training_hours', 'target']]

In [ ]:
dataset = pd.concat([dataset_text, dataset_num], axis=1)

In [ ]:
dataset.notnull().apply(pd.Series.value_counts)